.selected {
  background-color: #999696;
  border: 1px solid green;
  border-radius: 2px;
}

span {
  padding: 5px;
}

.container {
  min-height: 100%;
  padding: 0px;
}

.containerCF {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
  background-size: cover;
}

.confirm {
  padding: 5em;
  background: red;
  position: absolute;
  top: 40vh;
  width: 60vw;
}

.active {
  background-color: green;
  color: aliceblue;
}
